doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='socket.io/socket.io.js')
    script(src='javascripts/socketIoClient.js')

    body
    block content